<p id="notice"><%= notice %></p>

<p>
	<h1><%= @github_project.name %></h1>
	<%#maybe this can be a partial?%>
	<br/>
	<b>posts</b>
	<div>
		<% @messages_and_replies.each do |post_list| %>
			<div>
			<%orig = post_list.last %>
			Post: <%=orig.body.plain%> (liked by: <%= orig.liked_by.names.map(&:full_name)*','%>)
			<% if (post_list.length > 1)%>
				<br/>replies:
				<ul>
				<% post_list[0..-2].each do |reply| %>
					<li><%= reply.body.plain %></li>
				<%end%>
				</ul>
			<%end%>
			</div>
		<%end%>
	</div>
</p>


<%= link_to 'Edit', edit_github_project_path(@github_project) %> |
<%= link_to 'Back', github_projects_path %>
