<p id="notice"><%= notice %></p>

<p>
	<b>Url:</b>
	<%= @github_project.url %>
	<%#maybe this can be a partial?%>
	<br/>
	<b>posts</b>
	<ul>
		<% @github_project.yammer_posts.each do |p|%>
			<li><%= p.yammer_id %></li>
		<%end%>
	</ul>
</p>


<%= link_to 'Edit', edit_github_project_path(@github_project) %> |
<%= link_to 'Back', github_projects_path %>
