<p id="notice"><%= notice %></p>

<p>
	<b>Url:</b>
	<%= @github_project.url %>
	<%#maybe this can be a partial?%>
	<br/>
	<b>posts</b>
	<ul>
		<% @messages_and_replies.flatten.each do |post| %>
			<li><%= post.body.plain %> (liked by: <%= post.liked_by.names.map(&:full_name)*','%>)</li>
		<%end%>
	</ul>
</p>


<%= link_to 'Edit', edit_github_project_path(@github_project) %> |
<%= link_to 'Back', github_projects_path %>
